* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

.box_selected_fh {
  background-color: #1B2838;
  width: 100%;
  height: 2000px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.box_selected_fh .box_gutter {
  width: 210px;
  margin-right: 24px;
  color: #C6D4Df;
  font-size: 11px;
}

.box_selected_fh .box_gutter .gift_card {
  margin: 7px 0px;
  height: 136px;
  margin: 0px 0px 7px;
}

.box_selected_fh .box_gutter .gift_card img {
  width: 210px;
  height: 116px;
  border: none;
  cursor: pointer;
}

.box_selected_fh .box_gutter .gutter_header {
  margin: 15px 0px 7px;
}

.box_selected_fh .box_gutter #pad {
  font-size: 13px;
  color: #66c0f4;
  margin: 7px 0px;
}

.box_selected_fh .box_gutter #pad div {
  margin: 7px 0px;
  cursor: pointer;
}

.box_selected_fh .box_gutter #pad div:hover {
  color: #fff;
}

.box_selected_fh .box_gutter #pad div span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-color: saddlebrown;
  background: url(https://store.st.dl.pinyuncloud.com/public/images/v6/store_menu_icons.png?v=2) no-repeat;
}

.box_selected_fh .box_gutter #pad div .curators {
  background-position: -16px 0px;
}

.box_selected_fh .box_gutter #pad div .tag {
  background-position: -32px 0px;
}

.box_selected_fh .box_gutter #pad div .queue {
  background-position: -48px 0px;
}

.box_selected_fh .box_gutter #pad div .new {
  background-position: -64px 0px;
}

.box_selected_fh .box_gutter #pad div .hot {
  background-position: -80px 0px;
}

.box_selected_fh .box_gutter #pad div .newGames {
  background-position: -112px 0px;
}

.box_selected_fh .box_gutter #pad div .upcoming {
  background-position: -128px 0px;
}

.box_selected_fh .box_gutter #pad div .discounts {
  background-position: -144px 0px;
}

.box_selected_fh .box_gutter #pad div .vr {
  background-position: -160px 0px;
}

.box_selected_fh .box_gutter #pad div .controller {
  background-position: -176px 0px;
}

.box_selected_fh .box_content {
  width: 940px;
  height: 1332px;
}

.box_selected_fh .box_content .box_cluster {
  height: 412px;
  padding-bottom: 40px;
}

.box_selected_fh .box_content .box_cluster .title_selected {
  height: 20px;
  padding-top: 2px;
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
}

.box_selected_fh .box_content .box_cluster .box_maincap {
  height: 380px;
  margin-top: 5px;
  position: relative;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel {
  height: 353px;
  width: 940px;
  background-color: #0A141D;
  display: flex;
  justify-content: space-between;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .left {
  width: 616px;
  background-color: #fff;
  z-index: 100;
  cursor: pointer;
  display: inline-block;
  height: 353px;
  background-repeat: no-repeat;
  background-size: cover;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right {
  width: 314px;
  color: white;
  position: relative;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right .game_name {
  height: 70;
  padding: 0px 6px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 70px;
  word-wrap: break-word;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right .screenshots {
  width: 344px;
  height: 163px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0px;
  top: 70px;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right .screenshots img {
  width: 162px;
  height: 69px;
  padding: 10px 10px 0px 0px;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right .reason {
  width: 298px;
  height: 56px;
  margin-top: 8px;
  position: absolute;
  left: 10px;
  top: 233px;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right .reason .main_default {
  font-size: 21px;
  font-weight: 200;
  line-height: 18px;
  padding: 6px 10px 0px 0px;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right .reason .hotshop {
  margin: 8px 2px 3px 0px;
  padding: 0px 7px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 11px;
  width: 48px;
  height: 27px;
  line-height: 27px;
  background-color: rgba(255, 255, 255, 0.2);
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right .box_bottom {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #ACDBF5;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right .box_bottom .price {
  display: inline-block;
  display: flex;
  font-size: 11px;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right .box_bottom .price .discount_pct {
  color: #a4d007;
  background: #4c6b22;
  display: inline-block;
  padding: 0px 3px;
  font-size: 12px;
  border: none;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right .box_bottom .price .pass {
  color: #7193a6;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right .box_bottom .price .now {
  color: #acdbf5;
  padding-left: 4px;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel .right .box_bottom img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-color: black;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel_thumbs {
  height: 37px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel_thumbs li.focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel_thumbs li {
  width: 15px;
  height: 9px;
  margin: 12px 2px;
  border-radius: 2px;
  transition: background-color 0.2s;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.box_selected_fh .box_content .box_cluster .box_maincap .carousel_thumbs li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.box_selected_fh .box_content .box_cluster .box_maincap .arrow {
  padding: 36px 11px;
  width: 23px;
  height: 36px;
  cursor: pointer;
  position: absolute;
  top: 122px;
}

.box_selected_fh .box_content .box_cluster .box_maincap .arrow_left:hover {
  background: linear-gradient(to right, rgba(219, 213, 213, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
}

.box_selected_fh .box_content .box_cluster .box_maincap .arrow_left {
  left: -46px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
}

.box_selected_fh .box_content .box_cluster .box_maincap .arrow_left div {
  height: 36px;
  width: 23px;
  background-image: url(https://store.st.dl.pinyuncloud.com/public/images/v6/arrows.png);
  background-position-x: 23px;
}

.box_selected_fh .box_content .box_cluster .box_maincap .arrow_right:hover {
  background: linear-gradient(to right, rgba(192, 185, 185, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(223, 217, 217, 0.3) 95%);
}

.box_selected_fh .box_content .box_cluster .box_maincap .arrow_right {
  right: -46px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 95%);
}

.box_selected_fh .box_content .box_cluster .box_maincap .arrow_right div {
  height: 36px;
  width: 23px;
  background-image: url(https://store.st.dl.pinyuncloud.com/public/images/v6/arrows.png);
}

.box_selected_fh .box_content .box_special {
  height: 463px;
  width: 940px;
  margin-bottom: 20px;
  position: relative;
}

.box_selected_fh .box_content .box_special .box_title {
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding-top: 2px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: normal;
}

.box_selected_fh .box_content .box_special .box_title h2 {
  font-size: 14px;
}

.box_selected_fh .box_content .box_special .box_title .more {
  width: 48px;
  padding: 0px 15px;
  border: 1px;
  font-size: 12px;
  line-height: 20px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
}

.box_selected_fh .box_content .box_special .box_content {
  height: 390px;
}

.box_selected_fh .box_content .box_special .box_content .foucs {
  height: 390px;
  display: flex;
  justify-content: space-between;
}

.box_selected_fh .box_content .box_special .box_content .foucs .left,
.box_selected_fh .box_content .box_special .box_content .foucs .middle,
.box_selected_fh .box_content .box_special .box_content .foucs .right {
  width: 306px;
  height: 390px;
}

.box_selected_fh .box_content .box_special .box_content .foucs .left,
.box_selected_fh .box_content .box_special .box_content .foucs .middle {
  position: relative;
}

.box_selected_fh .box_content .box_special .box_content .foucs .left img,
.box_selected_fh .box_content .box_special .box_content .foucs .middle img {
  width: 100%;
  height: 350px;
  background-color: #fff;
}

.box_selected_fh .box_content .box_special .box_content .foucs .left .spotlight_content,
.box_selected_fh .box_content .box_special .box_content .foucs .middle .spotlight_content {
  padding: 8px 16px 12px;
  width: 274px;
  height: 93px;
  z-index: 99;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-image: url(https://store.st.dl.pinyuncloud.com/public/images/v6/home/background_spotlight.jpg);
}

.box_selected_fh .box_content .box_special .box_content .foucs .left .spotlight_content h2,
.box_selected_fh .box_content .box_special .box_content .foucs .middle .spotlight_content h2 {
  font-family: "Motiva Sans", Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 0.03em;
  font-weight: normal;
  padding-top: 2px;
}

.box_selected_fh .box_content .box_special .box_content .foucs .left .spotlight_content .spotlight_time,
.box_selected_fh .box_content .box_special .box_content .foucs .middle .spotlight_content .spotlight_time {
  font-weight: 300;
  color: #acdbf5;
  font-size: 12px;
}

.box_selected_fh .box_content .box_special .box_content .foucs .left .spotlight_content .spotlight_price,
.box_selected_fh .box_content .box_special .box_content .foucs .middle .spotlight_content .spotlight_price {
  display: flex;
  height: 34px;
  margin-top: 10px;
}

.box_selected_fh .box_content .box_special .box_content .foucs .left .spotlight_content .spotlight_price .discount_pct,
.box_selected_fh .box_content .box_special .box_content .foucs .middle .spotlight_content .spotlight_price .discount_pct {
  line-height: 34px;
  padding: 0 5px;
  font-size: 26px;
  color: #a4d007;
  background: #4c6b22;
  display: inline-block;
}

.box_selected_fh .box_content .box_special .box_content .foucs .left .spotlight_content .spotlight_price .discount_prices,
.box_selected_fh .box_content .box_special .box_content .foucs .middle .spotlight_content .spotlight_price .discount_prices {
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 13px;
  padding: 4px 10px 4px 7px;
}

.box_selected_fh .box_content .box_special .box_content .foucs .left .spotlight_content .spotlight_price .discount_prices .pass_price,
.box_selected_fh .box_content .box_special .box_content .foucs .middle .spotlight_content .spotlight_price .discount_prices .pass_price {
  color: #7193a6;
  font-size: 11px;
  text-decoration: line-through;
}

.box_selected_fh .box_content .box_special .box_content .foucs .left .spotlight_content .spotlight_price .discount_prices .now_price,
.box_selected_fh .box_content .box_special .box_content .foucs .middle .spotlight_content .spotlight_price .discount_prices .now_price {
  color: #acdbf5;
  font-size: 13px;
}

.box_selected_fh .box_content .box_special .box_content .foucs .right .right_top, .box_selected_fh .box_content .box_special .box_content .foucs .right .right_buttom {
  height: 186px;
  margin-bottom: 16px;
  background: linear-gradient(to bottom, #ffffff 5%, #abdaf4 95%);
  position: relative;
}

.box_selected_fh .box_content .box_special .box_content .foucs .right .right_top img, .box_selected_fh .box_content .box_special .box_content .foucs .right .right_buttom img {
  width: 100%;
  height: 143px;
  background-color: blue;
}

.box_selected_fh .box_content .box_special .box_content .foucs .right .right_top .dailydeal_desc, .box_selected_fh .box_content .box_special .box_content .foucs .right .right_buttom .dailydeal_desc {
  padding: 7px 7px 4px;
  width: 60px;
  height: 32px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: inline-block;
}

.box_selected_fh .box_content .box_special .box_content .foucs .right .right_top .dailydeal_desc div, .box_selected_fh .box_content .box_special .box_content .foucs .right .right_buttom .dailydeal_desc div {
  color: #283846;
  font-size: 11px;
}

.box_selected_fh .box_content .box_special .box_content .foucs .right .right_top .dailydeal_desc .ttip, .box_selected_fh .box_content .box_special .box_content .foucs .right .right_buttom .dailydeal_desc .ttip {
  color: #c4e4f2;
  background-color: #4f95bd;
  font-size: 12px;
  padding: 0px 4px;
  margin-top: 4px;
}

.box_selected_fh .box_content .box_special .box_content .foucs .right .right_top .right_spotlight_price, .box_selected_fh .box_content .box_special .box_content .foucs .right .right_buttom .right_spotlight_price {
  height: 32px;
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
}

.box_selected_fh .box_content .box_special .box_content .foucs .right .right_top .right_spotlight_price .discount_pct, .box_selected_fh .box_content .box_special .box_content .foucs .right .right_buttom .right_spotlight_price .discount_pct {
  line-height: 34px;
  padding: 0 5px;
  font-size: 26px;
  color: #a4d007;
  background: #4c6b22;
  display: inline-block;
}

.box_selected_fh .box_content .box_special .box_content .foucs .right .right_top .right_spotlight_price .discount_prices, .box_selected_fh .box_content .box_special .box_content .foucs .right .right_buttom .right_spotlight_price .discount_prices {
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 13px;
  padding: 4px 10px 4px 7px;
}

.box_selected_fh .box_content .box_special .box_content .foucs .right .right_top .right_spotlight_price .discount_prices .pass_price, .box_selected_fh .box_content .box_special .box_content .foucs .right .right_buttom .right_spotlight_price .discount_prices .pass_price {
  color: #7193a6;
  font-size: 11px;
  text-decoration: line-through;
}

.box_selected_fh .box_content .box_special .box_content .foucs .right .right_top .right_spotlight_price .discount_prices .now_price, .box_selected_fh .box_content .box_special .box_content .foucs .right .right_buttom .right_spotlight_price .discount_prices .now_price {
  color: #acdbf5;
  font-size: 13px;
}

.box_selected_fh .box_content .box_special .arrowpart5 {
  padding: 36px 11px;
  width: 23px;
  height: 36px;
  cursor: pointer;
  position: absolute;
  top: 35%;
}

.box_selected_fh .box_content .box_special .arrow_left:hover {
  background: linear-gradient(to right, rgba(219, 213, 213, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
}

.box_selected_fh .box_content .box_special .arrow_left {
  left: -46px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
}

.box_selected_fh .box_content .box_special .arrow_left div {
  height: 36px;
  width: 23px;
  background-image: url(https://store.st.dl.pinyuncloud.com/public/images/v6/arrows.png);
  background-position-x: 23px;
}

.box_selected_fh .box_content .box_special .arrow_right:hover {
  background: linear-gradient(to right, rgba(192, 185, 185, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(223, 217, 217, 0.3) 95%);
}

.box_selected_fh .box_content .box_special .arrow_right {
  right: -46px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 95%);
}

.box_selected_fh .box_content .box_special .arrow_right div {
  height: 36px;
  width: 23px;
  background-image: url(https://store.st.dl.pinyuncloud.com/public/images/v6/arrows.png);
}

.box_selected_fh .box_content .box_special .special_thumbs {
  height: 37px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
}

.box_selected_fh .box_content .box_special .special_thumbs li.focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.box_selected_fh .box_content .box_special .special_thumbs li {
  width: 15px;
  height: 9px;
  margin: 12px 2px;
  border-radius: 2px;
  transition: background-color 0.2s;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.box_selected_fh .box_content .box_special .special_thumbs li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.box_selected_fh .box_content .box_newshops {
  height: 456px;
  margin-top: 40px;
  color: #fff;
  font-weight: normal;
  position: relative;
}

.box_selected_fh .box_content .box_newshops h1 {
  font-size: 21px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: -8px;
}

.box_selected_fh .box_content .box_newshops h2 {
  font-size: 14px;
  display: flex;
  margin-bottom: 10px;
  padding-top: 2px;
  justify-content: space-between;
  padding-right: 20px;
}

.box_selected_fh .box_content .box_newshops h2 .more {
  font-size: 12px;
  padding: 0px 15px;
  line-height: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
}

.box_selected_fh .box_content .box_newshops .box_app {
  width: 100%;
  height: 350px;
  margin-bottom: 5px;
  display: flex;
}

.box_selected_fh .box_content .box_newshops .box_app .left_img {
  width: 616px;
  height: 350px;
  position: relative;
  pointer-events: auto;
}

.box_selected_fh .box_content .box_newshops .box_app .left_img img {
  width: 616px;
  height: 350px;
}

.box_selected_fh .box_content .box_newshops .box_app .left_img .box_price {
  position: absolute;
  right: 0px;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.box_selected_fh .box_content .box_newshops .box_app .left_img .box_price .percentage {
  padding: 0px 5px;
  font-size: 26px;
  color: #a4d007;
  background: #4c6b22;
}

.box_selected_fh .box_content .box_newshops .box_app .left_img .box_price .price {
  padding: 4px 10px 4px 7px;
  background-color: rgba(0, 0, 0, 0.6);
}

.box_selected_fh .box_content .box_newshops .box_app .left_img .box_price .price .pass {
  color: #7193a6;
  font-size: 11px;
  line-height: 13px;
  text-decoration: line-through;
}

.box_selected_fh .box_content .box_newshops .box_app .left_img .box_price .price .now {
  line-height: 13px;
  font-size: 13px;
  color: #acdbf5;
}

.box_selected_fh .box_content .box_newshops .box_app .right_col {
  width: 319px;
  height: 350px;
  padding-right: 5px;
  background: linear-gradient(to bottom, #506c86 5%, #10143100 96%);
}

.box_selected_fh .box_content .box_newshops .box_app .right_col .box_review {
  width: 279px;
  height: 280px;
  padding: 20px;
}

.box_selected_fh .box_content .box_newshops .box_app .right_col .box_review .description {
  height: 210px;
}

.box_selected_fh .box_content .box_newshops .box_app .right_col .box_review .view_more {
  width: 279px;
  height: 16px;
  font-size: 12px;
  color: #c6d4df;
  text-align: center;
}

.box_selected_fh .box_content .box_newshops .box_app .right_col .box_review .author_block {
  display: flex;
  justify-content: start;
  font-size: 10px;
  color: #8091a2;
  margin-top: 15px;
}

.box_selected_fh .box_content .box_newshops .box_app .right_col .box_review .author_block img {
  width: 40px;
  height: 40px;
  padding: 1px;
  margin-right: 5px;
}

.box_selected_fh .box_content .box_newshops .box_app .right_col .box_review .author_block div .author_name {
  margin-top: -2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: -2px;
  color: #c1dbf4;
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: bold;
}

.box_selected_fh .box_content .box_newshops .box_app .right_col .change-page {
  width: 279px;
  height: 24px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 24px;
  color: #66c0f4;
}

.box_selected_fh .box_content .box_newshops .box_app .right_col .change-page .prev,
.box_selected_fh .box_content .box_newshops .box_app .right_col .change-page .next {
  width: 7px;
  padding: 0px 16px;
  line-height: 24px;
  background-color: rgba(103, 193, 245, 0.2);
  border: 1px transparent;
  border-radius: 3px;
  cursor: pointer;
  color: #66c0f4;
  transition: background-color 0.2s, color 0.2s;
}

.box_selected_fh .box_content .box_newshops .today_thumbs {
  height: 37px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
}

.box_selected_fh .box_content .box_newshops .today_thumbs li.focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.box_selected_fh .box_content .box_newshops .today_thumbs li {
  width: 15px;
  height: 9px;
  margin: 12px 2px;
  border-radius: 2px;
  transition: background-color 0.2s;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.box_selected_fh .box_content .box_newshops .today_thumbs li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.box_selected_fh .box_content .box_newshops .arrowpart3 {
  padding: 36px 11px;
  width: 23px;
  height: 36px;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 54px);
}

.box_selected_fh .box_content .box_newshops .arrow_left:hover {
  background: linear-gradient(to right, rgba(219, 213, 213, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
}

.box_selected_fh .box_content .box_newshops .arrow_left {
  left: -46px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
}

.box_selected_fh .box_content .box_newshops .arrow_left div {
  height: 36px;
  width: 23px;
  background-image: url(https://store.st.dl.pinyuncloud.com/public/images/v6/arrows.png);
  background-position-x: 23px;
}

.box_selected_fh .box_content .box_newshops .arrow_right:hover {
  background: linear-gradient(to right, rgba(192, 185, 185, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(223, 217, 217, 0.3) 95%);
}

.box_selected_fh .box_content .box_newshops .arrow_right {
  right: -46px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 95%);
}

.box_selected_fh .box_content .box_newshops .arrow_right div {
  height: 36px;
  width: 23px;
  background-image: url(https://store.st.dl.pinyuncloud.com/public/images/v6/arrows.png);
}

.box_selected_fh .box_content .home_ctn {
  width: 100%;
  height: 95px;
  margin: 40px 0px 25px;
  color: #fff;
  font-family: "Motiva Sans", Sans-serif;
  text-transform: uppercase;
}

.box_selected_fh .box_content .home_ctn h2 {
  padding-top: 2px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.box_selected_fh .box_content .home_ctn .box_ctn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.box_selected_fh .box_content .home_ctn .box_ctn span {
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
  border-radius: 3px;
  box-shadow: 0 0 4px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
}

.box_selected_fh .box_content .hot_vr {
  width: 100%;
  height: 207px;
  position: relative;
}

.box_selected_fh .box_content .hot_vr h2 {
  font-family: "Motiva Sans", Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 0.03em;
  font-weight: normal;
  padding-top: 2px;
  position: relative;
}

.box_selected_fh .box_content .hot_vr h2 span {
  padding: 0px 15px;
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.box_selected_fh .box_content .hot_vr h2 span:hover {
  border: 1px solid #fff;
}

.box_selected_fh .box_content .hot_vr .hot_vr_content {
  width: 100%;
  height: 134px;
  display: flex;
  justify-content: space-between;
}

.box_selected_fh .box_content .hot_vr .hot_vr_content div {
  width: 229px;
}

.box_selected_fh .box_content .hot_vr .hot_vr_content div img {
  width: 100%;
  height: 107px;
  background-color: chartreuse;
}

.box_selected_fh .box_content .hot_vr .hot_vr_content div .game_price {
  width: 219px;
  height: 17px;
  padding: 5px;
  line-height: 17px;
  background-color: #345A78;
  text-align: right;
}

.box_selected_fh .box_content .hot_vr .hot_vr_content div .game_price div {
  margin: 0px;
  display: inline;
  font-size: 12px;
  padding: 0px 9px;
  background-color: rgba(20, 31, 44, 0.4);
  border-radius: 1px;
  color: #acdbf5;
}

.box_selected_fh .box_content .hot_vr .vr_thumbs {
  height: 37px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
}

.box_selected_fh .box_content .hot_vr .vr_thumbs li.focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.box_selected_fh .box_content .hot_vr .vr_thumbs li {
  width: 15px;
  height: 9px;
  margin: 12px 2px;
  border-radius: 2px;
  transition: background-color 0.2s;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.box_selected_fh .box_content .hot_vr .vr_thumbs li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.box_selected_fh .box_content .hot_vr .arrowpart4 {
  padding: 36px 11px;
  width: 23px;
  height: 36px;
  cursor: pointer;
  position: absolute;
  top: 29%;
}

.box_selected_fh .box_content .hot_vr .arrow_left:hover {
  background: linear-gradient(to right, rgba(219, 213, 213, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
}

.box_selected_fh .box_content .hot_vr .arrow_left {
  left: -46px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
}

.box_selected_fh .box_content .hot_vr .arrow_left div {
  height: 36px;
  width: 23px;
  background-image: url(https://store.st.dl.pinyuncloud.com/public/images/v6/arrows.png);
  background-position-x: 23px;
}

.box_selected_fh .box_content .hot_vr .arrow_right:hover {
  background: linear-gradient(to right, rgba(192, 185, 185, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(223, 217, 217, 0.3) 95%);
}

.box_selected_fh .box_content .hot_vr .arrow_right {
  right: -46px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 95%);
}

.box_selected_fh .box_content .hot_vr .arrow_right div {
  height: 36px;
  width: 23px;
  background-image: url(https://store.st.dl.pinyuncloud.com/public/images/v6/arrows.png);
}
/*# sourceMappingURL=fh-steam.css.map */