* {
  padding: 0;
  margin: 0;
}

.header-box_lwx {
  width: 100%;
  height: 104px;
  background-color: #171A21;
  padding: 0px 16px 0px 16px;
  box-sizing: border-box;
}

.header-box_lwx span {
  color: #b8b6b4;
  font-size: 12px;
}

.header-box_lwx li {
  list-style-type: none;
}

.header-box_lwx .header {
  width: 940px;
  height: 104px;
  background-color: #171A21;
  margin: 0 auto;
  display: flex;
  position: relative;
  z-index: 1000;
}

.header-box_lwx .header > img {
  width: 179px;
  height: 47px;
  margin-top: 29px;
}

.header-box_lwx .header .header-nav {
  width: 168px;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-left: 20px;
  position: relative;
}

.header-box_lwx .header .header-nav a {
  font-size: 14px;
  text-decoration: none;
  color: #b8b6b4;
}

.header-box_lwx .header .header-nav a:hover {
  color: #FFFFFF;
}

.header-box_lwx .header .header-nav .hidden-nav1 {
  width: 80px;
  height: 165px;
  background-color: #171A21;
  position: absolute;
  left: 10px;
  top: 20px;
  display: none;
}

.header-box_lwx .header .header-nav .hidden-nav1 li {
  padding: 2px;
  margin-left: 8px;
}

.header-box_lwx .header .header-nav .hidden-nav1 li a {
  font-size: 11px;
}

.header-box_lwx .header .header-nav .hidden-nav1 a:hover {
  color: #FFFFFF;
}

.header-box_lwx .header .header-nav a:first-child:hover + .hidden-nav1 {
  display: block;
}

.header-box_lwx .header .header-nav .hidden-nav1:hover {
  display: block;
}

.header-box_lwx .header .header-nav .hidden-nav2 {
  width: 80px;
  height: 140px;
  background-color: #171A21;
  position: absolute;
  left: 50px;
  top: 20px;
  display: none;
}

.header-box_lwx .header .header-nav .hidden-nav2 li {
  padding: 2px;
  margin-left: 8px;
}

.header-box_lwx .header .header-nav .hidden-nav2 li a {
  font-size: 11px;
}

.header-box_lwx .header .header-nav .hidden-nav2 a:hover {
  color: #FFFFFF;
}

.header-box_lwx .header .header-nav a:first-child:hover + .hidden-nav2 {
  display: block;
}

.header-box_lwx .header .header-nav .hidden-nav2:hover {
  display: block;
}

.header-box_lwx .header .header-right {
  width: 165px;
  height: 25px;
  line-height: 25px;
  position: absolute;
  display: flex;
  right: 10px;
  top: 5px;
}

.header-box_lwx .header .header-right img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 165px;
  padding: 3px 4px 2px 7px;
  background-color: #5c7e10;
}

.header-box_lwx .header .header-right > a:nth-child(2) {
  color: #E5E4DC;
  font-size: 12px;
  font-family: motiva sans-serif;
  background-color: #5c7e10;
  padding-right: 7px;
  text-decoration: none;
}

.header-box_lwx .header .header-right a:nth-child(3) {
  font-size: 12px;
  margin-right: 8px;
  margin-left: 8px;
  color: #b8b6b4;
  text-decoration: none;
}

.header-box_lwx .header .header-right a:hover {
  color: #FFFFFF;
}

.header-box_lwx .header .header-right .lanuage {
  margin-left: 8px;
  text-decoration: none;
  align-self: center;
  position: relative;
}

.header-box_lwx .header .header-right .lanuage > a {
  font-size: 12px;
  color: #b8b6b4;
  margin-top: 3px;
}

.header-box_lwx .header .header-right .lanuage > a:hover {
  color: #FFFFFF;
}

.header-box_lwx .header .header-right .lanuage .select {
  height: 0;
  width: 0;
  overflow: hidden;
}

.header-box_lwx .header .header-right .lanuage .select-show {
  width: 250px;
  height: 730px;
  border: 1px solid #171a21;
  position: relative;
  background-color: #171a21;
  position: absolute;
  right: 0px;
}

.header-box_lwx .header .header-right .lanuage .select-show > p > a {
  font-size: 12px;
  color: #b8b6b4;
  margin-top: 3px;
  margin-left: 15px;
  padding: 6px 0px;
  white-space: pre-wrap;
}

.header-box_lwx .header .header-right .lanuage .select-show > p > a:hover {
  color: #FFFFFF;
}

.header-box_lwx .header .header-right image {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 100px;
}

.header-box_lwx a:first-child:hover + .hidden-nav2 {
  display: block;
}

.header-box_lwx .hidden-nav2:hover {
  display: block;
}

.footer_lwx {
  width: 100%;
  height: 183px;
  background-color: #171A21;
  padding-top: 5px;
}

.footer_lwx .footer-top {
  width: 940px;
  height: 55px;
  border: 1px solid #363c44;
  border-left: none;
  border-right: none;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  position: relative;
}

.footer_lwx .footer-top img {
  width: 88px;
  height: 25px;
  margin-top: 12px;
}

.footer_lwx .footer-top .text {
  width: 562px;
  height: 32px;
  color: #8F98A0;
  font-size: 12px;
  line-height: 16px;
  margin-left: 10px;
  margin-top: 8px;
}

.footer_lwx .footer-top .text a {
  color: #C6D4DF;
}

.footer_lwx .footer-top .text a:hover {
  color: #FFFFFF;
}

.footer_lwx .footer-top .image {
  position: absolute;
  right: 0px;
  top: 5px;
}

.footer_lwx .footer-bottom {
  width: 940px;
  height: 19px;
  margin: 0 auto;
  margin-top: 15px;
}

.footer_lwx .footer-bottom a {
  font-size: 13px;
  color: #C6D4DF;
}

.footer_lwx .footer-bottom a:hover {
  color: #FFFFFF;
}

.footer_lwx .footer-bottom img {
  width: 16px;
  height: 16px;
  margin: -3px;
}

.footer_lwx .footer-bottom span {
  color: #b8b6b4;
  font-size: 12px;
}
/*# sourceMappingURL=lwx-home.css.map */