
body {
    background-color: #212429;
}

.login_lwx {
    width: 100%;
    height: 80%;
    background: radial-gradient(30% 40% at 40% 30%, rgba(33, 36, 41, .5) 0%, rgba(33, 36, 41, 0) 100%) no-repeat, url(../img/bgi.jpg) -42vw 0 no-repeat, #212429;

    .login {
        width: 940px;
        height: 800px;
        margin: 0 auto;
        display: flex;

        .login-left {
            width: 620px;
            height: 800px;
            background: radial-gradient(60.12% 60.12% at 104.83% -0.03%, rgba(74, 81, 92, 0.3) 0%, rgba(74, 81, 92, 0) 100%);
        }

        .login-box {
            width: 580px;
            height: 352px;
            // border: 1px solid red;
            margin: 40px 20px 20px 20px;


            .content {
                width: 274px;
                height: 336px;
                margin: 0 auto;



                &>h1 {
                    font-size: 34px;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    color: #FFFFFF;
                    margin: 0px 0px 30px;
                    text-align: center;
                }

                .login-text {
                    font-size: 14px;
                    color: #b8b6b4;
                    margin-bottom: 5px;

                }

                .tipbox {
                    width: 230px;
                    color: #FFFFFF;
                    height: 0;
                    padding: 0 16px;
                    font-size: 0;
                    margin-bottom: 20px;
                    background: rgba(0, 0, 0, 0.2);
                    transition: all .5s ease;
                }

                .tipbox-show {
                    font-size: 14px;
                    padding: 16px;
                    height: auto;
                    border: 1px solid #b44040
                }

                .form {
                    &>input {
                        width: 300px;
                        background: #32353C;
                        border-radius: 3px;
                        color: #E9E9E9;
                        padding: 8px 6px;
                        margin-bottom: 20px;
                        display: block;
                        // box-shadow: none;
                        width: 100%;
                        // transition: border ease-in-out .5s;
                        border: 1px solid #26282D;
                        outline: none;
                        font-family: "Motiva Sans", Sans-serif;
                        // font-weight: normal
                    }

                    &>button {
                        height: 36px;
                        font-size: 15px;
                        text-align: center;
                        color: #c3e1f8;
                        padding: 3px 80px;
                        border-radius: 4px;
                        border: none;
                        background-image: linear-gradient(to right, #3CA1F0, #2666D3);
                        margin-left: 40px;
                        margin-bottom: 15px;

                    }

                    &>button:hover {
                        background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
                        background-size: 330% 100%;
                    }

                    &>p {
                        a {
                            font-size: 12px;
                            color: #FFFFFF;
                            text-decoration: none;
                            margin-left: 92px;
                            padding-top: 5px;
                        }

                        &>a:hover {
                            color: #66C0F4;
                        }

                    }

                }

            }
        }
    }

    .login-right {
        width: 320px;
        height: 800px;
        // border: 1px solid wheat;
        padding-top: 100px;
        text-align: center;
        // background-color: violet;

        &>div {
            text-align: center;
            font-size: 14px;
            color: #b8b6b4;
            margin-bottom: 20px;

        }

        &>a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 14px;
            margin: 10px 0 0;
        }

        &>a:hover {
            color: #66C0F4;
        }


        &>img {
            width: 320px;
            height: 219px;
        }

        &>span {
            // width: 110px;
            // height: 32px;
            border: 1px solid #7A7C7F;
            color: #FFFFFF;
            font-size: 15px;
            padding: 6px 15px;
            border-radius: 3px;

        }

        &>span:hover {
            border: 1px solid rgba(255, 255, 255, 1);
        }
    }
}


.content-lwx {
    height: 100vh;
    width: 100vw;
    background-color: rgba($color:#070708, $alpha:.8);
    z-index: 50;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;

    .login-box {
        width: 400px;
        height: 300px;
        background-color: #282B31;
        margin: 200px auto;
        padding: 30px 30px;
        border-top: 1px solid #2967D7;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        position: relative;
    
        &>h1{
            font-size:27px;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color:#E5E5E6 ;
    
        }
    
        &>img{
            width: 45px;
            height: 45px;
            position: absolute;
            left: 35px;
            top: 85px;
        }
    
        &>p{
            color:#ACB2B8 ;
            font-size: 10px;
        } 
        
    }
    


.close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: #5B5D61;
}

.text{
    width: 275px;
    height: 70px;
    // background-color: cadetblue;
    margin: 0 auto;
    margin-top: 30px;

    &>h2{
        color:#59ADE0 ;
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    &>p{
        color:#ACB2B8 ;
        font-size: 10px;
    }  
}

.steam{
    width: 160px;
    height: 60px;
    background-color:#2A3E4D ;
    position: absolute;
    right: 40px;
    bottom: 50px;
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 5px;

}
}