* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #b8b6b4;
}

span {
    color: #b8b6b4;
    font-size: 12px;
}

li {
    list-style-type: none;
}

.header-box {
    width: 100%;
    height: 104px;
    background-color: #171A21;
    padding: 0px 16px 0px 16px;

    .header {
        width: 940px;
        height: 104px;
        background-color: #171A21;
        margin: 0 auto;
        display: flex;
        position: relative;

        img {
            width: 179px;
            height: 47px;
            margin-top: 29px;
        }

        .header-nav {
            width: 168px;
            height: 68px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 40px;
            margin-left: 20px;
            position: relative;

            a {
                font-size: 14px;
            }

            a:hover {
                color: #FFFFFF;
            }

            .hidden-nav1 {
                width: 80px;
                height: 165px;
                background-color: #171A21;
                position: absolute;
                left: 10px;
                top: 20px;
                display: none;

                li {
                    padding: 2px;
                    margin-left: 8px;

                    a {
                        font-size: 11px;
                    }
                }

                a:hover {
                    color: #FFFFFF;
                }

            }

            a:first-child:hover+.hidden-nav1 {
                display: block;
            }

            .hidden-nav1:hover {
                display: block;
            }


            .hidden-nav2 {
                width: 80px;
                height: 140px;
                background-color: #171A21;
                position: absolute;
                left: 50px;
                top: 20px;
                display: none;

                li {
                    padding: 2px;
                    margin-left: 8px;

                    a {
                        font-size: 11px;
                    }
                }

                a:hover {
                    color: #FFFFFF;
                }
            }

            a:first-child:hover+.hidden-nav2 {
                display: block;
            }

            .hidden-nav2:hover {
                display: block;
            }
        }


        .header-right {
            width: 165px;
            height: 25px;
            line-height: 25px;
            position: absolute;
            display: flex;
            right: 5px;
            top: 5px;

            img {
                width: 20px;
                height: 20px;
                position: absolute;
                top: -29px;
                right: 165px;
                padding: 3px 4px 2px 7px;
                background-color: #5c7e10;
            }

            a:nth-child(2) {
                color: #E5E4DC;
                font-size: 12px;
                font-family: motiva sans-serif;
                background-color: #5c7e10;
                padding-right: 7px;

            }

            a:nth-child(3) {
                font-size: 12px;
                margin-right: 8px;
                margin-left: 8px;
            }

            a:hover {
                color: #FFFFFF;
            }


            select {
                font-size: 12px;
                color: #b8b6b4;
                width: 47px;
                border-style: none;
                margin-left: 4px;
                background-color: #171A21;

            }

            select:hover {
                color: #FFFFFF;
            }
        }
    }

    a:first-child:hover+.hidden-nav2 {
        display: block;
    }

    .hidden-nav2:hover {
        display: block;
    }
}


.footer {
    width: 100%;
    height: 183px;
    background-color: #171A21;
    position: absolute;
    bottom: 0px;

    .footer-top {
        width: 940px;
        height: 55px;
        border: 1px solid #363c44;
        border-left: none;
        border-right: none;
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        position: relative;

        img {
            width: 88px;
            height: 25px;
            margin-top: 12px;
        }

        .text {
            width: 562px;
            height: 32px;
            color: #8F98A0;
            font-size: 12px;
            line-height: 16px;
            margin-left: 10px;
            margin-top: 8px;

            a {
                color: #C6D4DF
            }

            a:hover {
                color: #FFFFFF;
            }
        }

        .image {
            // width: 92px;
            // height: 26px;
            // background-color: wheat;
            position: absolute;
            right: 0px;
            top: 5px;
        }
    }

    .footer-bottom {
        width: 940px;
        height: 19px;
        margin: 0 auto;
        margin-top: 15px;
        // background-color: yellowgreen;

        a {
            font-size: 13px;
            color: #C6D4DF;
        }

        a:hover {
            color: #FFFFFF;
        }

        img {
            width: 16px;
            height: 16px;
            margin: -3px;

        }
    }

}