* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

body {
  background-color: #1b2838;
}

.search_ly {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

.search_ly .searchList {
  width: 686px;
  float: left;
}

.search_ly .searchList .searchInput {
  height: 28.5px;
  padding: 6px;
  margin-bottom: 4px;
  background-color: rgba(0, 0, 0, 0.4);
}

.search_ly .searchList .searchInput #search_text {
  width: 300px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(103, 193, 245, 0.2);
  box-shadow: 1px 1px 0px #1b2838;
}

.search_ly .searchList .searchInput #search_btn {
  height: 25px;
  padding: 1px 16px;
  margin-left: 5px;
  vertical-align: text-top;
  border: none;
  border-radius: 2px;
  color: #67c1f5;
  background: rgba(103, 193, 245, 0.2);
}

.search_ly .searchList .searchInput #search_btn:hover {
  background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
  color: #fff;
}

.search_ly .searchList .searchInput .sortbox {
  float: right;
}

.search_ly .searchList .searchInput .sortbox > span {
  font-size: 12px;
  color: #4c6c8c;
  margin-right: 2px;
}

.search_ly .searchList .searchInput .sortbox > select {
  box-sizing: border-box;
  width: 120px;
  height: 21px;
  padding-left: 4px;
  border: 0;
  border-radius: 3px;
  font-size: 12px;
  color: #67c1f5;
  background-color: rgba(103, 193, 245, 0.1);
}

.search_ly .searchList .searchInput .sortbox > select:hover {
  color: #fff;
  background-color: #67c1f5;
}

.search_ly .searchList .searchMsg {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 0;
  overflow: hidden;
  margin-bottom: 5px;
}

.search_ly .searchList .searchMsg > div {
  float: right;
  padding: 10px;
  width: 40px;
  height: 32px;
  font-size: 12px;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all .4s;
}

.search_ly .searchList .searchMsg > div:first-child {
  float: left;
  width: 604px;
  height: 32px;
}

.search_ly .searchList .searchMsg .set_tab:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.search_ly .searchList .searchMsg .set_tab_click {
  background-color: #c7d5e0;
}

.search_ly .searchList .gameList > a {
  display: block;
  height: 45px;
  border: 1px solid transparent;
  margin-bottom: 5px;
  font-size: 12px;
  color: #c6d4df;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "Motiva Sans", Sans-serif;
}

.search_ly .searchList .gameList > a:hover {
  border-color: rgba(139, 185, 224, 0.2);
  background-color: rgba(0, 0, 0, 0.4);
}

.search_ly .searchList .gameList > a > div {
  height: 45px;
  float: left;
}

.search_ly .searchList .gameList > a > div:nth-child(3) {
  float: right;
}

.search_ly .searchList .gameList > a > div:nth-child(4) {
  float: right;
}

.search_ly .searchList .gameList > a .game_img {
  width: 120px;
  margin-right: 2px;
  background-repeat: no-repeat;
  background-size: cover;
}

.search_ly .searchList .gameList > a .game_name {
  width: 250px;
  padding-left: 5px;
}

.search_ly .searchList .gameList > a .game_name > p {
  height: 50%;
  line-height: 25.5px;
}

.search_ly .searchList .gameList > a .game_time {
  width: 118.5px;
  color: #4c6c8c;
}

.search_ly .searchList .gameList > a .game_time > span {
  display: inline-block;
  height: 45px;
  width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 45px;
}

.search_ly .searchList .gameList > a .game_time .assess {
  margin-left: 5px;
  margin-bottom: 14.5px;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
}

.search_ly .searchList .gameList > a .game_price {
  position: relative;
  width: 143.5px;
  margin-right: 11px;
  text-align: right;
  line-height: 45px;
}

.search_ly .searchList .gameList > a .game_price .discount {
  position: absolute;
  height: 45px;
  width: 40px;
  left: 0;
  top: 0;
}

.search_ly .searchList .gameList > a .game_price .discount > span {
  margin-top: 10px;
  padding: 5px;
  color: #8bc53f;
  background-color: #4c6b22;
  text-align: center;
}

.search_ly .searchCondition {
  width: 238px;
  margin-left: 0;
  float: right;
}

.search_ly .searchCondition .conditionName {
  padding: 4px 4px 4px 6px;
  font-size: 12px;
  color: #c7d5e0;
  background-color: rgba(255, 255, 255, 0.1);
}

.search_ly .searchCondition .hr {
  background: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin: 8px;
}

.search_ly .searchCondition div.show {
  height: auto !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding: 4px 2px 4px 4px;
}

.search_ly .searchCondition .checkbox {
  line-height: 28px;
  padding: 0 8px;
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  color: #9fbbcb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search_ly .searchCondition .checkbox:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.search_ly .searchCondition .checkbox .notcheck {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: top center;
  margin-right: 8px;
  background-image: url(../img/store_checkbox_blue.png);
  vertical-align: text-bottom;
}

.search_ly .searchCondition .checkbox .check {
  background-position: bottom center;
}

.search_ly .searchCondition > div {
  margin-bottom: 16px;
}

.search_ly .searchCondition > div > div:last-child {
  transition: all .5s ease-out;
  height: 0;
  overflow: hidden;
}
/*# sourceMappingURL=ly-sreach.css.map */